{% extends 'base.html' %}

{% block head %}
<title>Фільми</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="content">
        <h1>Оновити інформацію про фільм</h1>
        <div class="form">
            <form action="/update/{{movie.id}}" method="POST">
                <div class="row">
                    <div class="col" align="center">
                        <b>Фільм</b>
                        <input type="text" class="form-control" name="content" id="content" placeholder="Назва фільму" value="{{movie.content}}">
                    </div>
                    <div class="col" align="center">
                        <b>Оцінка Діми</b>
                        <input type="number" class="form-control" name="diml_rate" min="0" max="10" id="diml_rate" placeholder="Оцінка Діми" value="{{movie.diml_rate}}">
                    </div>
                    <div class="col" align="center">
                        <b>Оцінка Насті</b>
                        <input type="number" class="form-control" name="nast_rate" min="0" max="10" id="nast_rate" placeholder="Оцінка Насті" value="{{movie.nast_rate}}">
                    </div>
                    <div class="col" align="center">
                        <b>Опції</b>
                        <input type="submit" class="form-control" value="Оновити" style="background-color:cornflowerblue; color:white;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}